/* Page de style pour les pages d'accueil, campagne et plan de com */
body { /* Corps de la page */ 
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	text-align: center;
	padding: 50px;
  }
  h1 { /* Titre principal */
	color: #555;
	font-size: 3em;
	margin-bottom: 50px;
  }
  /* Gestion des boutons */
  .btn-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
  }
  .btn { 
	display: inline-block;
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	margin: 10px;
	transition: all 0.3s ease;
  }
  .btn:hover {
	background-color: #0062cc;
  }