<!-- Importez DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

<!-- Créez une table HTML -->
<table id="myTable" class="display">
  <thead>
    <tr>
		<th>Database</th>
		<th>Schema</th>
		<th>Table</th>
		<th>Champ</th>
    </tr>
	<tr>
		<th>Filter Database</th>
		<th>Filter Schema</th>
		<th>Filter Table</th>
		<th>Filter Champ</th>
	</tr>
  </thead>
  <tbody></tbody>
</table>

<!-- Importez jQuery et DataTables JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.0/papaparse.min.js"></script>

<script>
  // Importez le fichier CSV en JavaScript
  Papa.parse('all_data.csv', {
    download: true,
    header: true,
    complete: function(results) {
        // Vérifier que chaque ligne contient une valeur pour la colonne 'Schema'
        var data = results.data.filter(function(row) {
            return row.Schema !== undefined;
        });
        // Ajouter les données filtrées à la table DataTables
        $('#myTable').DataTable({
            data: data,
            columns: [
				{ title: 'Database', data: 'Database' },
				{ title: 'Schema', data: 'Schema' },
				{ title: 'Table', data: 'Table' },
				{ title: 'Champ', data: 'Champ' }
			],
			ordering: false,
        // Ajoutez des filtres aux colonnes et une fonction de recherche
        initComplete: function() {
          this.api().columns().every(function() {
            var column = this;
            var select = $('<select><option value=""></option></select>')
              .appendTo($(column.header()).empty())
              .on('change', function() {
                var val = $.fn.dataTable.util.escapeRegex(
                  $(this).val()
                );
                column.search(val ? '^' + val + '$' : '', true, false).draw();
              });
            column.data().unique().sort().each(function(d, j) {
              select.append('<option value="' + d + '">' + d + '</option>')
            });
          });
        }
      });
    }
  });
</script>
